* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
.slider,
.cardhakkimizda {
  margin-top: 2rem;
}
.cardhakkimizda {
  margin-bottom: 2rem;
}
footer ul {
  list-style-type: none;
}
footer li {
  float: left;
}
footer .container a {
  color: #5e656b;
  text-decoration: none;
  letter-spacing: 2px;
}
footer .container a:hover {
  color: #ce2300;
  transition-duration: 0.7s;
  letter-spacing: 2px;
}
.section {
  background: #f9f9f9 !important;
  height: 300px;
  margin-top: 4rem;
}
.refopacity {
  opacity: 0.7;
}
.refopacity:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.dropdown-menu .dropdown-item:hover {
  color: #fff;
  background: #000;
  transition-duration: 0.7s;
}
.nav-link {
  height: 2.3rem;
}
.nav-link:hover {
  color: rgb(32, 32, 32);
  background: #000;
  transition-duration: 0.7s;
}
.h6 {
  background: rgb(234, 235, 236);
}
.half {
  background: url(img/1.png) 0 0 no-repeat;
  min-height: 301px;
  margin-bottom: 30px;
  position: relative;
}
.half2 {
  background: url(img/2.png) 0 0 no-repeat;
  min-height: 301px;
}
.full,
.half,
.half2 {
  background-size: cover;
  position: relative;
}
.full:hover .overlay-effect,
.half:hover .overlay-effect,
.half2:hover .overlay-effect {
  opacity: 1;
  cursor: pointer;
}
.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(259, 67, 95, 0.7);
  overflow: hidden;
}
.full a,
.half a,
.half2 a {
  color: #fff;
}
.full h3,
.half h3,
.half2 h3 {
  padding: 15px 30px;
}
i.fa {
  display: inline-block;
  border-radius: 60px;
  background: #fff;
  padding: 0.5em 0.6em;
  opacity: 0.7;
}
